
        body { background-color: #F6F4EE; background-image: radial-gradient(#d1d1d1 1px, transparent 1px); background-size: 20px 20px; }
        .brutal-border { border: 3px solid #242424; border-radius: 4px 6px 3px 5px; }
        .brutal-shadow { box-shadow: 6px 6px 0px 0px #242424; }
        .brutal-hover:hover { transform: translate(2px, 2px); box-shadow: 4px 4px 0px 0px #242424; }
        .brutal-active:active { transform: translate(6px, 6px); box-shadow: 0px 0px 0px 0px #242424; }
        
        /* Interactive Console Search */
        #search-console { display: none; }
        #search-console.active { display: flex; }
    